

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layer-更懂你的web弹窗解决方案</title>

  <script src="../../static/jquery-3.5.1/jquery-3.5.1.js"></script>
    <script src="../../static/layer/layer.js"></script>
    <script type="text/javascript">
        $(function(){
            layer.open({
                type: 2, //Layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）,
                shade:0.1, //遮罩层透明度
                area:['850px','500px'], //弹出层宽高
                title:'材料库',//弹出层标题
                content: 'https://c-ssl.duitang.com/uploads/item/201707/10/20170710210234_y3Kf5.jpeg'
            });



        })


    </script>
</head>
<body>
<h1>pop</h1>
</body>
</html>